:root {
  --primary: #C50E57;
  --primary-1: #E0416E;
  --ligth: #FF5C6F;
  --dark: #000;
  --infoDark: #7D8DA1;
  --infoDark: #b7bdc4;

  --box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.text-muted {
  color: #7D8DA1;
}

p {
  color: #7D8DA1;
}

b {
  color: #7D8DA1;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--ligth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: 15px;
}

.right .theme-toggler i {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler i.active {
  background: var(--primary-1);
  color: white;
  border-radius: 10px;
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* RECENT UPDATES */
.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* SALES ANALYTICS*/

.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem 15px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}

.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: white;
  border-radius: 50%;
  background: var(--primary);
  display: flex;
}

.right .sales-analytics .item.offline .icon {
  background: var(--ligth);
}

.right .sales-analytics .item.customers .icon {
  background: var(--primary-1);
}

.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--primary);
  color: #C50E57;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product div{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right .sales-analytics .add-product div h3{
  font-weight: 600;
}



/* ==== MEDIA QUERIS ======*/
@media screen and (max-width: 768px) {
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-right: 3rem;
    height: 4.6rem;
    background: white;
    width: 100%;
    margin: 0;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, .2);
  }

  .right .top .profile {
    margin-right: 15px;
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: #000;
    position: absolute;
    left: 1rem;
    border: none;
  }

  .right .top button i {
    font-size: 2rem;
  }
}