<h2 mat-dialog-title class="modalTitle"> Nueva Cuenta </h2>
<div mat-dialog-content class="container">
    <div class="datosPersonales">
        <h2>Datos Personales</h2>
        <div class="txt_field">
            <input type="text" id="nombre" class="inpt" autocomplete="off" placeholder=" ">
            <label for="nombre" class="inpt_label">Nombre</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoP" class="inpt" autocomplete="off" placeholder=" ">
            <label for="apellidoP" class="inpt_label">Apellido paterno</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoM" class="inpt" autocomplete="off" placeholder=" ">
            <label for="apellidoM" class="inpt_label">Apellido materno</label>
        </div>
        <div class="txt_field">
            <input type="date" id="Fecha" class="inpt" autocomplete="off" placeholder=" ">
            <label for="Fecha" class="inpt_label">Fecha de nacimiento</label>
        </div>
        <div class="txt_field">
            <input type="text" id="ci" class="inpt" autocomplete="off" placeholder=" ">
            <label for="ci" class="inpt_label">C.I.</label>
        </div>
    </div>
    
    <div class="datosUsuario">
        <h2>Datos del Usuario</h2>
        <div class="txt_field">
            <input type="text" id="correo" class="inpt" autocomplete="off" placeholder=" ">
            <label for="correo" class="inpt_label">Correo</label>
        </div>
        <div class="txt_field">
            <input type="password" id="pass" class="inpt" autocomplete="off" placeholder=" ">
            <label for="pass" class="inpt_label">Contraseña</label>
        </div>
        <div class="txt_field">
            <input type="password" id="repPass" class="inpt" autocomplete="off" placeholder=" ">
            <label for="repPass" class="inpt_label">Repita contraseña</label>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button class="btn btn-primary-1">Registrarse</button>
    <p class="p_link" (click)="openLogin()">¿Ya tienes una cuenta? <br> Inicia sesion ahora...</p>
</div>