<main>
  <h1>Gráficos</h1>
  <div class="date">
    <input type="date" placeholder="fecha">
  </div>

  <!-- START INSIGHTS -->
  <div class="insights">

    <!-- START SALES -->
    <div class="sales">
      <i class="uil uil-analytics"></i>
      <div class="middle">
        <div class="left">
          <h3>Ventas Totales</h3>
          <h1>$25.087</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Últimas 24 horas</small>
    </div>
    <!-- END SALES -->

    <!-- START EXPENSES -->
    <div class="expenses">
      <i class="uil uil-chart-bar"></i>
      <div class="middle">
        <div class="left">
          <h3>Ventas Totales</h3>
          <h1>$25</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>62%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Últimas 24 horas</small>
    </div>
    <!-- END EXPENSES -->

    <!-- START INCOME -->
    <div class="income">
      <i class="uil uil-chart-line"></i>
      <div class="middle">
        <div class="left">
          <h3>Ventas Totales</h3>
          <h1>$25.000</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>44%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Últimas 24 horas</small>
    </div>
    <!-- END INCOME -->
  </div>
  <!-- END INSIGHTS -->

  <!-- <div class="recent-orders">
    <h2>Recent Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Producto Name</th>
          <th>Producto Number</th>
          <th>payment</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Foldable Mini Drone</td>
          <td>86434</td>
          <td>Due</td>
          <td class="warning">Pending</td>
          <td class="primary">Details</td>
        </tr>
        <tr>
          <td>Foldable Mini Drone</td>
          <td>86434</td>
          <td>Due</td>
          <td class="warning">Pending</td>
          <td class="primary">Details</td>
        </tr>
        <tr>
          <td>Foldable Mini Drone</td>
          <td>86434</td>
          <td>Due</td>
          <td class="warning">Pending</td>
          <td class="primary">Details</td>
        </tr>
        <tr>
          <td>Foldable Mini Drone</td>
          <td>86434</td>
          <td>Due</td>
          <td class="warning">Pending</td>
          <td class="primary">Details</td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div> -->
</main>