:root {
  --primary: #C50E57;
  --primary-1: #E0416E;
  --ligth: #FF5C6F;
  --dark: #000;
  --infoDark: #7D8DA1;
}

a {
  color: #7D8DA1;
  /*  InfoDark  */
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

aside {
  height: 100vh;
}

aside .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  height: 100%;
}

aside .close {
  text-align: center;
  display: none;
}

/* SIDEBAR */

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
  padding-top: 10px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: #7D8DA1;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a i {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--ligth);
  color: white;
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--primary);
}

aside .sidebar a.active i {
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--primary);
}

aside .sidebar a:hover i {
  margin-left: 1rem;
}



/* ================= RESPONSIVE ================== */
@media screen and (max-width: 1200px) {
  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    margin-left: 1rem;
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    left: 0;
    background: white;
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem rgba(0, 0, 0, 0.45);
    height: 100vh;
    padding-right: 5px;
    display: none;
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
  }

}