<aside>
  <div class="top">
    <div class="logo">
      <img src="../../../assets/image/logo.png" alt="">
    </div>
    <div class="close" id="close-btn">
      <i class="uil uil-times"></i>
    </div>
  </div>

  <div class="sidebar">
    <a routerLink="/main" routerLinkActive="active">
      <i class="uil uil-chart-pie-alt"></i>
      <h3>Analítica</h3>
    </a>
    <a routerLink="/ulist" routerLinkActive="active">
      <i class="uil uil-users-alt"></i>
      <h3>Lista de usuarios</h3>
    </a>
    <a routerLink="/elist" routerLinkActive="active">
      <i class="uil uil-store-alt"></i>
      <h3>Lista de emprendimientos</h3>
    </a>
    <a href="#" routerLinkActive="active">
      <i class="uil uil-file-graph"></i>
      <h3>Reportes</h3>
    </a>
    <a href="#" routerLinkActive="active">
      <i class="uil uil-message"></i>
      <h3>Mensajes</h3>
    </a>
    <a href="#" routerLinkActive="active">
      <i class="uil uil-setting"></i>
      <h3>Configuraciones</h3>
    </a>
    <a href="#" routerLinkActive="active">
      <i class="uil uil-signout"></i>
      <h3>Cerrar sesión</h3>
    </a>
  </div>
</aside>