<div class="nav">
    <img *ngIf="responsive" src="../../../assets/logo.png" alt="Logo de CAMEBOL" title="CAMEBOL">

    <ul>
        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/quienes" routerLinkActive="active">Quienes Somos</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>

    <button class="menu-collapsed is-active">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </button>
</div>