.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

/* ================= RESPONSIVE ================== */
@media screen and (max-width: 1200px) {
  .container {
      width: 94%;
      grid-template-columns: 6rem auto 26rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
      width: 100%;
      grid-template-columns: 1fr;
  }
}